/* TAB LINKS */

.main {
    width: 90%;
    margin: auto;
}

.main_container {
    display: flex;
}

@media screen and (max-width: 1300px) {}

@media screen and (max-width: 800px) {}

@media screen and (max-width: 590px) {}

@media screen and (max-width: 520px) {}