<div>
    <Nav />


    <div class="main">
        <div class="main_container">

            <div>
                <img src="../../assets/images/product.png" alt="">
            </div>
            <div>
                <h3>
                    ASOS DESIGN Space Jam: A New Legacy lounge t-shirt and short pyjama short
                </h3>
                <h2>
                    ₦ 40,000
                </h2>
                <div>
                    <select name="" id="">
                        <option value="select size" disabled>Select size</option>
                        <option value="5">3</option>
                        <option value="5">5</option>
                    </select>
                    <select name="" id="">
                        <option value="select size" disabled>Select size</option>
                        <option value="5">3</option>
                        <option value="5">5</option>
                    </select>
                </div>
            </div>
        </div>

    </div>



    <Footer/>
</div>