<div class="footer">
    <div class="footer_inner">
        <img class="logo" src="../../assets/icons/logo2.svg" alt="">
        <div class="links">
            <router-link to="/">ABOUT MERCHRO</router-link>
            <router-link to="/">SHOP MERCH</router-link>
            <router-link to="/">SELL MERCH</router-link>
            <router-link to="/">HELP & INFORMATION</router-link>
        </div>
        <div class="socials">
            <a href="">
                <img src="../../assets/icons/twitter.svg" alt="">
            </a>
            <a href="">
                <img src="../../assets/icons/instagram.svg" alt="">
            </a>
        </div>
    </div>
    <div class="other">
        <span>© 2021 MERCHRO</span>
        <div class="links">
            <a href="">Privacy & Cookies</a> &nbsp; | &nbsp;
            <a href="">T & Cs</a> &nbsp; | &nbsp;
            <a href="">Accessibility</a>
        </div>
    </div>


</div>